body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
}

#main-div{
  width: 100%;
  height: auto;
  background-color:#333;
}

/* navbar header */

#nav-bar{
  width: 90%;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  background-color: #1e9c20;
  display: flex;
  justify-content: space-around;
}

#logo{
  width: 30%;
  height: 81%;
  margin-top: 7px;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  position: relative;
}

#logo p{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#logo a{
  color: white;
}

#search{
  width: 30%;
  height: 81%;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  position: relative;
}

#search input{
  width: 70%;
  height: 35px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid white;
  width: 100%; 
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

::placeholder{
  color: white;
}

#search a ion-icon{
  font-size: 25px;
  margin-left: 315px;
  margin-top: 20px;
  color: white;
}

#search a{
  height: 0;
}

#search a:active{
  color: white;
}
#list{
  width: 40%;
  height: 81%;
  margin-top: 7px;
}

ul{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 10px;
  font-size: 17px;
}

ul a{
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 1.5%;
  border-bottom: 0px solid white;
  display: inline-block;
}

ul a::after{
  content: '';
  border-bottom: 2px solid white;
  display: block;
  width: 0;
  height: 2px;
  transition: width .2s;
}

ul a:hover::after{
  width: 100%;
}

/* signup part */

#main{
  display: flex;
  justify-content: center;
}

.signup-box {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 450px;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  }
  
.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signup-box .user-box {
  position: relative;
}
  
.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signup-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
  
.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1e9c20;
  font-size: 12px;
}
  
.signup-box form #a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1e9c20;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
  
.signup-box #a:hover {
  background: #1e9c20;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1e9c20,
              0 0 25px #1e9c20,
              0 0 50px #1e9c20,
              0 0 100px #1e9c20;
}
  
.signup-box #a span {
  position: absolute;
  display: block;
}
  
.signup-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1e9c20);
  animation: btn-anim1 1s linear infinite;
}
  
@keyframes btn-anim1 {
  0% {
    left: -100%;
    }
  50%,100% {
    left: 100%;
  }
}
  
.signup-box #a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1e9c20);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
  
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
  
.signup-box #a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1e9c20);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
  
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
  
.signup-box #a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1e9c20);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
  
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

#bg_buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
  
#bg_buttons #b{
  color: white;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 10px;
}
  
#b{
  color: white;
  text-decoration: none;
}
  
#b::after{
  font-size: 10px;
  color: white;
  border-bottom: 0px solid white;
  content: '';
  border-bottom: 2px solid white;
  display: block;
  width: 0;
  height: 2px;
  transition: width .2s;
}
  
#b:hover::after{
  width: 100%;
}

/* footer */

#footer{
  width: 90%;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #1e9c20;
  margin-bottom: 36px;
}

#list2{
  width: 80%;
  height: 81%;
  justify-content: center;
}

#ul1{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
    
}

#ul1 a{
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 1.5%;
}

