body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    font-family: 'Titillium Web', sans-serif;
}

#main-div{
    width: 100%;
    height: auto;
    background-color:#333;
}

/* navbar header */

#nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 10px;
    background-color: #1e9c20;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#logo{
    width: 25%;
    height: 81%;
    margin-top: 7px;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 50px;
  }
  
#logo p, img{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
#logo img{
    width: 200px; 
    margin-left: -60px; 
}
   
#logo a{
    color: white;
    margin-left: -50px;
} 

#search{
    width: 40%;
    height: 81%;
    margin-top: 7px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

#search input{
    height: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    width: 100%; 
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

::placeholder{
    color: white;
}

#search a ion-icon{
    font-size: 25px;
    margin-left: 310px;
    margin-top: 20px;
    color: white;
}

#search a{
    height: 0;
}

#search a:active{
    color: white;
}

#list{
    width: 50%;
    height: 81%;
    margin-top: 7px;
}

ul{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 10px;
    font-size: 17px;
}

ul a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-top: 1.5%;
    border-bottom: 0px solid white;
    display: inline-block;
}

ul a::after{
    content: '';
    border-bottom: 2px solid white;
    display: block;
    width: 0;
    height: 2px;
    transition: width .2s;
}

ul a:hover::after{
    width: 100%;
}

/* Menu */

a {
    color: #fff;
    text-decoration: none;
  }

  .p-menu1{
      display: none;
  }
  
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    justify-items: center;
    z-index: 120;
    width: 400px;
    float: right;
    /* margin-right: 300px; */
  }
  
  .hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 100px;
  }

.menu1 {
    background-color: #1e9c20;
    width: 250px;
    text-align: center;
    height: 0px;
    overflow: hidden;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    text-align: center;
    z-index: -150;
    height: 100px;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  @media only screen and (max-width: 1058px){
    body{
        overflow-x: hidden;
    }
    
    #logo{
        margin-left: 100px;
    }

    #search{
        margin-left: 150px;
    }
    
    .p-menu1{
        display: block;
        margin-left: 100px;
    }

    .menu1{
        margin-left: -100px;
    }

    #list{
        display: none;
    }
}

@media only screen and (max-width: 840px){
    body{
        overflow-x: hidden;
    }
    
    #search{
        width: 25%;
    }

    #search a{
        margin-left: -90px;
    }

    .menu1{
        margin-left: -60px;
        width: 170px;
    }
}

@media only screen and (max-width: 637px){
    #search{
        display: none;
    }

    .p-menu1{
        margin-left: 250px;
        margin-top: 7px;
    }

    .menu1{
        width: 200px;
    }
}

/* colors, posts and chat */

#main-part{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#colors{
    height: 400px;
    margin-left: 80px;
}

#colors button{
    width: 100px;
    display: block;
    margin-top: 50%;
    padding: 10px;
    outline: none;
    color: white;
    font-size: 15px;
}

#colors button:nth-child(1){
    background-color: inherit;
    border: 2px solid darkorange;
    box-shadow: 2px 2px 5px darkorange;
    transition: 0.5s;
}

#colors button:nth-child(2){
    background-color: inherit;
    border: 2px solid #0310a1;
    box-shadow: 2px 2px 5px #0310a1;
    transition: 0.5s;
}

#colors button:nth-child(3){
    background-color: inherit;
    border: 2px solid #1e9c20;
    box-shadow: 2px 2px 5px #1e9c20;
    transition: 0.5s;
}

#colors button:nth-child(4){
    background-color: inherit;
    border: 2px solid #a11d00;
    box-shadow: 2px 2px 5px #a11d00;
    transition: 0.5s;
}

#colors button:nth-child(5){
    background-color: inherit;
    border: 2px solid #a60053;
    box-shadow: 2px 2px 5px #a60053;
    transition: 0.5s;
}

#colors button:nth-child(1):hover{
    background-color: darkorange;
}

#colors button:nth-child(1):focus{
    background-color: darkorange;
}

#colors button:nth-child(2):hover{
    background-color: #0310a1;
}

#colors button:nth-child(2):focus{
    background-color: #0310a1;
}

#colors button:nth-child(3):hover{
    background-color: #1e9c20;
}

#colors button:nth-child(3):focus{
    background-color: #1e9c20;
}

#colors button:nth-child(4):hover{
    background-color: #a11d00;
}

#colors button:nth-child(4):focus{
    background-color: #a11d00;
}

#colors button:nth-child(5):hover{
    background-color: #a60053;
}

#colors button:nth-child(5):focus{
    background-color: #a60053;
}

#main-posts{
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 200px;
}

#posts{
    width: 90%;
    height: 150px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 15px 20px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

#add_posts{
    text-decoration: none;
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: black;
}

#add_posts:active{
    color: white;
}

#text_posts{
    font-size: 30px;
    margin-top: 15px;
    font-weight: 600;
}

/* chat */

#chat{
    width: 29%;
    height: auto;
    margin-top: 10px;
    margin-right: 47px;
}

#wrapper {
    margin: 0 auto;
    padding-bottom: 25px;
    background: rgba(0,0,0,.5);
    box-shadow: 0px 15px 25px rgb(0, 0, 0);
    width: 600px;
    max-width: 80%;
    border-radius: 10px;
}
   
#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0px 15px 25px rgb(0,0,0);
    height: 300px;
    max-width: 230px;
    overflow: auto;
    border-radius: 4px;
}
   
#usermsg {
    height: 30px;
    width: 250px;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
   
#submitmsg{
    background: inherit;
    border: 2px solid #1e9c20;
    color: white;
    padding: 7px 15px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 5px;
}

#submitmsg:hover{
    background-color: #1e9c20;
    transition: 0.5s;
}
   
#menu{
    padding: 15px 25px;
    display: flex;
}
   
#menu p.welcome {
    flex: 1;
    color: white;
    font-weight: 900;
    text-align: center;
}

@media only screen and (max-width: 1058px){
    #main-part{
        margin-top: 100px;
    }

    #wrapper{
        max-width: 110%;
    }

    #chatbox{
        max-width: 250px;
    }

    #usermsg{
        width: 200px;
    }
}

@media only screen and (max-width: 840px){
    #usermsg{
        width: 140px;
    }
}

@media only screen and (max-width: 637px){
    #usermsg{
        width: 96px;
    }
}


/* footer */

#footer{
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #1e9c20;
    margin-bottom: 32px;
    border-radius: 10px;
}

#list1{
    width: 80%;
    height: 81%;
    justify-content: center;
}

#ul1{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    
}

#ul1 a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-top: 1.5%;
}

@media only screen and (max-width: 637px){
    #ul1{
        font-size: 14px;
        margin-right: 40px;
        margin-top: 20px;
    }
}

  
  
  